langchain-core==0.3.75
mistralai==1.9.10
aiofiles==24.1.0
torch==2.8.0
soundfile==0.13.1
librosa==0.11.0
numpy==2.2.0
transformers==4.56.0
pytest==8.4.1
aiogram==3.22.0
python-dotenv==1.1.0
asyncpg==0.30.0
colorama==0.4.6
tabulate==0.9.0